<div class="container">

  <h2>Pokemon</h2>

  <h3><a href="/pokemon/new">Add Pokemon</a></h3>


    <% @pokemons.each do |pokemon| %>
      <a href="pokemon/<%= pokemon.id %>"> <%= pokemon.name %> </a>
    <% end %>


</div>
