<a href="/pokemon">Return to pokedex</a>

<h2>Add Pokemon</h2>

<form action="/pokemon" method="post">
  <label>Pokemon Name</label>
  <input type="text" name="name">

  <label>Pokemon Type</label>
  <input type="text" name="poke_type">

  <label>Combat Power</label>
  <input type="number" name="cp">

  <label>Image URL</label>
  <input type="text" name="img_url">

  <button type="submit">Add</button>
</form>
