<a href="/pokemon">Return to pokedex</a>

<h2><%= @pokemon.name %></h2>

<img src="<%= @pokemon.img_url %>">

<h3>Stats</h3>
<ul>
  <li>Pokemon Type : <%= @pokemon.poke_type %></li>
  <li>Combat Power : <%= @pokemon.cp %></li>
</ul>
