<a href="/teams">Return to Teams</a>

<div class="container">
  <h2>Add Trainer</h2>
  <form action="/trainer" method="post">

    <label>Trainer Name</label>
    <input type="text" name="name">

    <label>Image URL</label>
    <input type="text" name="img_url">

    <label>Team</label>
    Mystic: <input class="choice" type="radio" name="team_id" value="1">
    Valor: <input class="choice" type="radio" name="team_id" value="2">
    Instinct: <input class="choice" type="radio" name="team_id" value="3">

    <button type="submit">Add</button>
  </form>
</div>
